* {
box-sizing: border-box;


}
  
 
form.userinput input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 20%;
    background: #f1f1f1;
}
  

form.userinput button {
    float: left;
    width: 5%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 0.5px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
form.userinput button:hover {
    background: #0b7dda;
}
  

form.userinput::after {
    content: "";
    clear: both;
    display: table;
}


.header {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;
text-shadow: 1px 1px #414040;
background-color: rgb(50, 138, 189);
padding: 20px;
display: flex;
justify-content: center;
color: white;
margin-bottom: 0px;
border: 0.75px solid black;
}

.container {
  border: 0.5px solid rgb(122, 122, 122);
  text-align: center;
  background-color: rgb(224, 224, 224);
  padding-top: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 20px;
}

.temp {
  border: 0.5px solid rgb(122, 122, 122);
  border-radius: 25px;
  background-color: rgb(218, 190, 33);
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.location {
  font-size: 45px;
}

.forecastbox1, .forecastbox2, .forecastbox3, .forecastbox4, .forecastbox5 {
font-family:'Times New Roman', Times, serif;
border-radius: 25px;
margin: 10px;
padding-top: 5px;
text-align: center;
width: 200px;
height: 200px;
background-color:  rgb(122, 184, 219);
border: 0.5px solid black;

}


      
.icon {
font-size: 40px;

      }